@font-face {
  font-family: "poppins-regular";
  src: url("./fonts/poppins-regular.eot");
  src: url("./fonts/poppins-regular.ttf") format("tff"),
  url("./fonts/poppins-regular.woff") format("woff"),
  url("./fonts/poppins-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
